<!DOCTYPE html>
<html lang="ko" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title><%= title %> - 급식숲</title>
    <%- include common/bootstrap %>
</head>
<body>
    <%- include common/header %>

    <%- include common/footer %>
</body>
</html>
