<!-- navigation bar -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- mobile toggle interface -->
            <div class="navbar-header">
                <a class="navbar-brand">급식숲</a>
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">메뉴</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a>제보하기</a></li>
                    <li><a>학교별 급식숲</a></li>
                    <li><a>급식숲 운영 신청</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="대나무숲/제보 검색"/>
                        <button type="submit" class="btn btn-default">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
